.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.link-box {
  background: #eaecf0;
  /* Gray/200 */
  border: 1px solid #eaecf0;
  border-radius: 8px;
  width: 800px;
  height: 50px;
  margin: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  color: black !important;
}

.link-box:hover {
  background: #d0d5dd;
  /* Gray/300 */

  border: 1px solid #d0d5dd;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

.link-box:active {
  background: #eaecf0;
  /* Gray/400 */

  border: 1px solid #98a2b3;
  /* Shadow/xs focused 4px primary-100 */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #ebe9fe;
  border-radius: 8px;
}

.link-box:focus {
  background: #eaecf0;
  /* Gray/400 */

  border: 1px solid #98a2b3;
  /* Shadow/xs focused 4px primary-100 */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #ebe9fe;
  border-radius: 8px;
}

.links {
  text-decoration: none;
  color: black;
}

.nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-area {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.error {
  color: red;
}

.slack-git {
  display: flex;
  justify-content: center;
}

.main-footer {
  display: flex;
  justify-content: space-between;
}

.Link-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  padding-top: 20px;
}

.share-icon {
  float: right;
  border: 1px dashed #d0d5dd;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.copied {
  background: #eaecf0;
  border-radius: 100px;
  margin-top: 50px;
  padding: 3%;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 300px;
  margin-bottom: 20px;
}

.share-icon:hover {
  background: #f2f4f7;
}

.form-label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 60px;
}

.form-group {
  display: flex;
}

input[type="text"] {
  border: 1px solid #d0d5dd;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 9px;
  padding: 10px 14px;
}

.ContactForm {
  padding-top: 90px;
}

.formNames {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Gray/700 */

  color: #344054;
  margin-bottom: 1%;
}

.btn_contact {
  width: 100%;
  border: none;
  background-color: #1570ef;
  color: white;
  border: 1px solid #1570ef;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  height: 48px;
}

.btn_contact:hover {
  background: #175cd3;
  /* Primary/700 */

  border: 1px solid #175cd3;
}

.btn_contact:focus {
  background: #1570ef;
  /* Primary/600 */

  border: 1px solid #1570ef;
}

.mt-10 {
  margin-top: 2%;
}

.textForm {
  width: 100%;
}

textarea {
  border: 1px solid #d0d5dd;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 9px;
  padding: 10px 14px;
}

@media screen and (max-width: 768px) {
  .main-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .link-box {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .Link-section {
    display: block;
    justify-content: center;
    align-items: center;
  }
}
